<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Error 404</title>
<style>
body {
  background-color: #00C389;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.box {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}
.title {
  font-size: 1.5em;
  color: black;
  margin-bottom: 1.5em;
}
</style>
</head>
<body>
<div class="box">
    <h1 class="title">Error 404</h1>
    <p>La página que buscas no existe.</p>
    <a href="{{domain}}">Volver al inicio</a>
</div>