<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema electoral{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{domain}}/css/base.css">
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <img src="{{ domain }}/images/DGE.svg" alt="DGE Logo" class="logo">
        <h1>Sistema electoral</h1>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
    <div class="js-data" data-domain="{{ domain }}"></div>
</body>
</html>