<IfModule mod_rewrite.c>
    RewriteEngine On
    # En caso de que que la url no sea un directorio ni un archivo, se redirige todo a index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
